.App {
  text-align: center;
}

.cat-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.cat-item img {
  width: 25rem;
  height: 10rem;
  border-radius: .5rem;
}
